In [2]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/home/antoine/mlops_reco_movies/airflow/data/raw/bronze/ratings.csv')

df.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [4]:
# Check for missing values
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [5]:
# typage et renommage des colonnes
df = df.astype({"userId": "int32", "movieId": "int32"})
df = df.rename(columns={"userId": "user_id", "movieId": "movie_id"})

In [7]:
df = df[df["user_id"] < 20000]

In [8]:
# Calcul de mÃ©triques
user_stats = df.groupby("user_id")["rating"].agg(["count", "mean", "std"])
movie_stats = df.groupby("movie_id")["rating"].agg(["count", "mean", "std"])

In [9]:
print("User statistics:")
print(user_stats.describe())
print("Movie statistics:")
print(movie_stats.describe())

User statistics:
              count          mean           std
count  19999.000000  19999.000000  19999.000000
mean     147.207260      3.622095      0.951605
std      234.612381      0.444137      0.237989
min       20.000000      0.500000      0.000000
25%       35.000000      3.360000      0.784133
50%       69.000000      3.650602      0.929410
75%      159.000000      3.923837      1.094417
max     7515.000000      5.000000      2.308451
Movie statistics:
              count          mean           std
count  18120.000000  18120.000000  14966.000000
mean     162.472296      3.174699      0.929589
std      541.208261      0.700790      0.321273
min        1.000000      0.500000      0.000000
25%        2.000000      2.807692      0.769702
50%       12.000000      3.269496      0.933088
75%       73.250000      3.639175      1.073455
max     9856.000000      5.000000      3.181981

In [10]:
df.head()

   user_id  movie_id  rating   timestamp
0        1         2     3.5  1112486027
1        1        29     3.5  1112484676
2        1        32     3.5  1112484819
3        1        47     3.5  1112484727
4        1        50     3.5  1112484580