In [16]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("/home/antoine/mlops_reco_movies/airflow/data/raw/bronze/genome-scores.csv")
df.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11709768 entries, 0 to 11709767
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   movieId    int64
 1   tagId      int64
 2   relevance  float64
dtypes: float64(1), int64(2)
memory usage: 268.0 MB

In [8]:
# Check for missing values
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
movieId      0
tagId        0
relevance    0
dtype: int64

In [9]:
# Optimisation m√©moire
df = df.astype({
    "movieId": "int32",
    "tagId": "int32",
    "relevance": "float32"
}).rename(columns={"movieId": "movie_id", "tagId": "tag_id"})

In [10]:
df.head()

   movie_id  tag_id  relevance
0         1       1    0.02500
1         1       2    0.02500
2         1       3    0.05775
3         1       4    0.09675
4         1       5    0.14675

In [11]:
df.describe()

           movie_id        tag_id     relevance
count  1.170977e+07  1.170977e+07  1.170977e+07
mean   2.584297e+04  5.645000e+02  1.164834e-01
std    3.467615e+04  3.256254e+02  1.542463e-01
min    1.000000e+00  1.000000e+00  2.500000e-04
25%    2.926000e+03  2.827500e+02  2.425000e-02
50%    6.017000e+03  5.645000e+02  5.650000e-02
75%    4.606200e+04  8.462500e+02  1.415000e-01
max    1.311700e+05  1.128000e+03  1.000000e+00

In [ ]:
# Selection des relevances > 0.2
df = df[df["relevance"] >= 0.2]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2009639 entries, 5 to 11709763
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   movie_id   int32
 1   tag_id     int32
 2   relevance  float32
dtypes: float32(1), int32(2)
memory usage: 38.3 MB

In [14]:
df["relevance"] = np.log1p(df["relevance"])
df.head()

    movie_id  tag_id  relevance
5          1       6   0.196389
7          1       8   0.233292
8          1       9   0.232698
10         1      11   0.455524
15         1      16   0.248226

In [15]:
tags_df = pd.read_csv("/home/antoine/mlops_reco_movies/airflow/data/raw/bronze/genome-tags.csv")
tags_df.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s